body{
	font-family: "Helvetica";
	text-align: center;
	color: white;/* color: #6d8e9f; */
	background-color: #f1ddcf;
	/* max-width: 1200px; */
	height: 100vh;
	margin: auto;
	overflow: hidden;
}

.bar{
	margin-top: 25%;
	display: inline-block;
	height: 100vh;
}

.container{
	display: flex;
	flex-direction: column;
	height: 100vh;
	/* Smooth Scroll props */
	overflow-y: scroll;
	scroll-behavior: smooth;
	
}

.interior{
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	height: 100vh;
}

.bar a{
	text-decoration: none;
	color: inherit;
}

@media (min-width: 501px) {
	#about img{
		margin-right: 30px;
	}
}

@media (max-width: 500px) {
	
}

#about img{
	border-radius: 50%;
	max-width: 280px;
	float: left;
}

#about img span{
	border: 4px solid whitesmoke;
}

.carousel-img{
	max-width: 200px;
	margin-top: 20%;
	padding: 6px;
	background-color: #fffff2;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 50%;
	border: none;
	float: none;
}
.carousel{
	height: 100vh;
	/* display: flex;
	flex-direction: row; */
	/* width: 100%; */
}

#about{
	margin-top: 30%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	scroll-snap-type: y mandatory;
	height: 100vh;
	/* width: 100%; */
}


.git{
	filter: invert(1);
	opacity: 0.75;
	transition: 0.5s;
}
.git:hover{
	opacity: 1;
	width: 58px;
	height: 58px;
}

.btn{
	display: inline-block;
	border-radius: 4px;
	border: 2px solid #d3d3d3;
	background-color: #ffffff;
	text-align: center;
	font-size: 18px;
	opacity: 0.75;
	padding: 15px;
	width: 150px;
	transition: all 0.5s;
	cursor: pointer;
}
.btn:hover{
	opacity: 0.9
}
.btn span{
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}
.btn span:after{
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}
.btn:hover span{
	padding-right: 25px;
}
.btn:hover span:after{
	opacity: 1;
	right: 0;
}
