body{
	font-family: "Helvetica";
	text-align: center;
	color: #6d8e9f; 
	background-color: #f1ddcf;
	/* max-width: 1200px; */
	height: 100vh;
	margin: auto;
	scroll-behavior: smooth;
}


.container{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
}

.bar{
	margin-top: 25%;
	display: inline-block;
}


.interior{
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
}

.bar a{
	text-decoration: none;
	color: inherit;
}


#about img{
	border-radius: 50%;
	max-width: 280px;
	float: left;
}

#about img span{
	border: 4px solid whitesmoke;
}

.carousel-img{
	max-width: 200px;
	margin-top: 20%;
	padding: 6px;
	background-color: whitesmoke;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 50%;
	border: 2px solid #6d8e9f;
	float: none;
	
}

.carousel-item {
	opacity: 1.0;
	transition: 0.75s;
}

.carousel-item:hover{
	opacity: 0.3;
	transition: 0.75s;
}

.caption {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}


.carousel{
	height: 100vh;
	/* display: flex;
	flex-direction: row; */
	/* width: 100%; */
}

@media (min-width: 655px) {
	#about img{
		margin-right: 30px;
	}
	.carousel-img {
		max-width: 300px;
	}
}

@media (max-width: 600px) {
	#about img{
		margin-right: 0;
	}
}
#about{
	margin-top: 30%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	scroll-snap-type: y mandatory;
	height: 100vh;
	margin-left: 15px;
	margin-right: 15px;
}


.git{
	filter: invert(1);
	opacity: 0.75;
	transition: 0.5s;
}
.git:hover{
	opacity: 1;
	width: 58px;
	height: 58px;
}

.btn{
	display: inline-block;
	border-radius: 4px;
	border: 2px solid #d3d3d3;
	background-color: #ffffff;
	text-align: center;
	font-size: 18px;
	opacity: 0.75;
	padding: 15px;
	width: 150px;
	transition: all 0.5s;
	cursor: pointer;
}
.btn:hover{
	opacity: 0.9
}
.btn span{
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}
.btn span:after{
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}
.btn:hover span{
	padding-right: 25px;
}
.btn:hover span:after{
	opacity: 1;
	right: 0;
}
