.cta-button {
  display: inline-flex;
  min-height: 44px;
  align-items: center;
  background-color: var(--text-color);
  color: var(--background-color);
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 350;
}

.social-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--button-background);
  color: var(--text-color);
  padding: 7px;
  text-decoration: none;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  font-size: 0;
  margin: 0 5px;
}

.cta-button,
.social-button {
  transition: background-color 0.2s ease-in-out;
}


.icon {
  width: 30px;
  height: 30px;
  fill: var(--icon-color);
}

.cta-button:hover {
  opacity: 0.8;
}

.social-button:hover {
  background-color: var(--button-hover);
}

.social-media {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
