.article {
  margin: 40px auto;
  max-width: 800px;
  padding: clamp(20px, 5vw, 40px);
  background-color: var(--background-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.article-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  display: block;
}

.article-caption {
  font-size: 14px;
  color: var(--caption-color);
  text-align: center;
}

.article-text {
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: var(--text-color);
}

.article iframe {
  width: 100%;
  border: 0;
}

@media (min-width: 769px) {
  .article iframe {
    width: 85%;
    height: 900px;
  }
}
