
/* Media query to show the hamburger menu on smaller screens */
@media (max-width: 768px) {
  .vertical-nav{
    display: flex;
    display: none;
    flex-direction: column;
    background-color: var(--overlay-color);
    opacity: 95%;
    position: fixed;
    width: 100%;
    padding-bottom: 10px;
    z-index: 1000;
    top: 55px;
    align-items: center;
    transition: 0.5s ease-in-out;
  }
  
  .main-content {
    margin-top: 80px;
    padding: 40px;
    width: 100%;
    height: calc(100vh - 30px); /* Calculate the remaining height (viewport height minus margin-top) */
    overflow-y: auto;
  }
  .item-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  h1 {
    font-size: 36px;
  }
  p {
    font-size: 16px;
  }
  .bar {
    width: 30px;
    height: 3px;
    border-radius: 1rem;
    background-color: var(--text-color);
    opacity: 0.7;
    margin: 4px 0;
    transition: background-color 0.3s;
  }
  /* Navigation Overlay Bar styles */
  .nav-overlay {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 55px;
    background-color: var(--overlay-color);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    opacity: 90%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .overlay-logo {
    display: flex;
    font-size: 18px;
    font-weight: 600;
    color: var(--text-color);
    text-decoration: none;
  }

  .hamburger-menu,
  .overlay-logo {
    padding: 20px;
  }

  .nav-logo{
    display: none;
  }

}

/* Regular navigation for larger screens */
@media (min-width: 769px) {
  .nav-overlay{
    display: none;
  }
  
  /* Style for the vertical navigation bar */
  .vertical-nav{
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--overlay-color);
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 40px;
    padding-left: 40px;
  }

  /* Main content area */
  .main-content {
    margin-left: 220px; /* Adjust based on the width of the vertical nav bar */
    padding: 40px;
    width: 950px;
  }
  
  /* Article grid */
  .item-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    transition: all 0.5s ease;
  }

}

/* General nav style */
.nav-item {
  font-size: 16px;
  color: var(--text-color);
  text-decoration: none;
  margin: 10px 20px;
}

.nav-logo {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

/* Active navigation item style */
.nav-item.active {
  font-weight: 600;
}

#nav-social {
  margin-left: 10px;
}

/* Section header style */
.section-header {
  text-align: center;
  margin-bottom: 40px;
}

/* Article grid styles */

.item-box {
  position: relative;
  background-color: var(--button-background);
  overflow: hidden;
  height: 260px;
  border-radius: 5px;
}

.item-image {
  height: 100%;
  background-size: cover;
  background-position: center;
}

.item-details {
  color: #000;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.item-box:hover .item-details {
  opacity: 1;
}

.item-year {
  font-size: 12px;
}

.item-title {
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0;
}

.item-byline {
  font-size: 14px;
}

.hidden {
  display: none;
}
